*{
   margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(65, 34, 95);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  width: 400px;
  max-width: 300px;
  /* height: 300px; */
  background-color: rgba(16, 39, 55, 0.334);
  padding: 15px;
  text-align: center;
  /* border: 1px solid white; */
  border-radius: 5px;
  box-shadow: 0 0 20px 5px black;
  color: white;
}

.passwordBox h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin: 10px 0px;
}

.passoutput{
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.passoutput input{
  flex-basis: 80%;
  padding: 0px 5px;
  font-size: 1rem;
}
.passoutput button{
  flex-basis: 20%;
  padding: 10px 0;
}

.passRule{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.passRule input{
  width: 53px;
}

.btn{
  width: 100%;
  padding: 15px 0;
  font-size: 1.1rem;
  cursor: pointer;
}

button{
  cursor: pointer;
}

input{
  border: none;
  outline: none;
}